
#######################################
# Plugins, Includes & Basic Setup
#######################################
#[include plr.cfg]
[include gcode_macro.cfg]
#[include time_update.cfg]

# Beacon Probe Config
[include beacon.cfg]

[include timelapse.cfg]

# KAMP include
[include KAMP_Settings.cfg]

# Klippain Shake & Tune
[include shaketune.cfg]

# Load gcode for custom MPC tuning based on filament
[include mpc_filament.cfg]

# FreeDI for LCD Screen
#[include freedi.cfg]

[pause_resume]

[display_status]

#[gcode_macro_break]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:CANCEL_PRINT
    
[print_stats]

#######################################
# MCU Definitions
#######################################

[mcu]
#serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_6EA9C797515137474C202020FF0C101B-if00
serial: /dev/ttyS0
restart_method: command
baud: 500000

[mcu toolhead]
serial: /dev/ttyS2
restart_method: command
baud: 500000

#######################################
# Basic Printer Kinematics
#######################################

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
minimum_cruise_ratio: .5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 8

[temperature_sensor Main_MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor Toolhead_MCU]
sensor_type: temperature_mcu
sensor_mcu: toolhead

[respond]
default_type: echo

[save_variables] 
filename =/home/derek/printer_data/config/saved_variables.cfg

[duplicate_pin_override]
pins:

#######################################
# MCU Definitions
#######################################

[bed_screws]
screw1: 25,21
screw1_name: Front left
screw2: 285,21
screw2_name: Front right
screw3: 285,281
screw3_name: Back right
screw4: 25,281


#######################################
# Extruder Settings
#######################################

[extruder]
step_pin: toolhead:PB9
dir_pin: toolhead:PB8
enable_pin: !toolhead:PC15
rotation_distance: 53.7  #22.6789511 Bondtech 5mm Drive Gears
gear_ratio: 1517:170
microsteps: 16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 380
min_extrude_temp: 175
smooth_time: 0.000001
heater_pin: toolhead:PB3
sensor_type: MAX6675
sensor_pin: toolhead:PB12
spi_speed: 100000
spi_software_sclk_pin: toolhead:PB13
spi_software_mosi_pin: toolhead:PA11
spi_software_miso_pin: toolhead:PB14
max_power: 1
heater_power: 80  

pressure_advance: 0.032
pressure_advance_smooth_time: 0.03
max_extrude_cross_section: 500
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 5000
max_extrude_only_accel: 5000
step_pulse_duration: 0.000002

[tmc2209 extruder]
uart_pin: toolhead:PC13
interpolate: True
run_current: 0.714
stealthchop_threshold: 0
sense_resistor: .11

#######################################
# Resonance Testing
#######################################

[adxl345]
cs_pin: toolhead:PA4
spi_software_sclk_pin: toolhead:PA5
spi_software_mosi_pin: toolhead:PA7
spi_software_miso_pin: toolhead:PA6
axes_map: -x, z, -y

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#   150, 150, 10

[resonance_tester]
accel_chip: beacon
probe_points: 150, 150, 25

[resonance_tester]
accel_per_hz: 150
max_smoothing: 0.5

#######################################
# Stepper Configs for XYZ
#######################################
# Note stepper settings for the extruder are in the Extruder section

[stepper_x]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation: 200 # set to 400 for 0.9 degree stepper
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_min: -1.5
position_endstop: -1.5
position_max: 307
homing_speed: 50
homing_retract_dist: 20
homing_positive_dir: False
step_pulse_duration: 0.0000001

[tmc2240 stepper_x]
cs_pin: PD2
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_speed: 200000
run_current: 1.07
home_current: .74
interpolate: true
stealthchop_threshold: 0
diag0_pin: !PB8
driver_SGT: 1
rref: 12000 # stock klipper value

[stepper_y]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PC15
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation: 200 # set to 400 for 0.9 degree stepper
endstop_pin: tmc2240_stepper_y:virtual_endstop
position_min: -3
position_endstop: -3
position_max: 325
homing_speed: 50
homing_retract_dist: 20
homing_positive_dir: False
step_pulse_duration: 0.0000001

[tmc2240 stepper_y]
cs_pin: PB9
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_speed: 200000
run_current: 1.07
home_current: .74
interpolate: true
stealthchop_threshold: 0
diag0_pin: !PC0
driver_SGT: 1
rref: 12000 # stock Klipper value

[stepper_z]
step_pin: PB1
dir_pin: PB6
enable_pin:!PB0
microsteps: 128
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop # PC3 for Z-max
#endstop_pin_reverse:tmc2209_stepper_z:virtual_endstop
#position_endstop_reverse:285
position_max: 285
position_min: -4
homing_speed: 10
#homing_speed_reverse: 10
second_homing_speed: 5
#homing_retract_dist: 5.0 # original
homing_retract_dist: 0 #beacon
homing_positive_dir:false
#homing_positive_dir_reverse:true
#step_pulse_duration:0.0000001

[tmc2209 stepper_z]
uart_pin: PB7
run_current: 1.07
# hold_current: 0.17
interpolate: True
stealthchop_threshold: 9999999999
diag_pin: ^PA13
driver_SGTHRS: 100
sense_resistor: .11

[stepper_z1]
step_pin: PC10
dir_pin: PA15
enable_pin: !PC11
microsteps: 128
rotation_distance: 4
full_steps_per_rotation: 200
#endstop_pin_reverse:tmc2209_stepper_z1:virtual_endstop
#step_pulse_duration:0.0000001

[tmc2209 stepper_z1]
uart_pin: PC5
run_current: 1.07
interpolate: True
stealthchop_threshold: 9999999999
diag_pin:^PC12
driver_SGTHRS:100
sense_resistor: .11


#######################################
# Heaters
#######################################

[heater_bed]
heater_pin: PB10
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
pwm_cycle_time: 0.001
min_temp: -60
max_temp: 125

[heater_generic chamber]
heater_pin: PC8
max_power: 0.4
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA1
control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125

min_temp: -100
max_temp: 70

[verify_heater chamber]
max_error: 400
check_gain_time:600
hysteresis: 5
heating_gain: 2

[temperature_sensor Chamber_Thermal_Protection_Sensor]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC2
min_temp: -100
max_temp: 140

[verify_heater extruder]
max_error: 120
check_gain_time:20
hysteresis: 5
heating_gain: 1

[verify_heater heater_bed]
max_error: 200
check_gain_time:60
hysteresis: 10
heating_gain: 1

#######################################
# Fans
#######################################

[fan_generic auxiliary_cooling_fan]
pin: PA8
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100

[fan_generic chamber_circulation_fan]
pin: PC9
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100

[heater_fan chamber_fan]
pin: PA4
max_power: 1.0
kick_start_time: 0.5
heater: chamber
fan_speed: 1.0

[heater_fan hotend_fan]
pin: toolhead:PB5
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[heater_fan hotend_fan2]
pin: toolhead:PB4
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[heater_fan hotend_fan3]
pin: toolhead:PB10
max_power: 1.0
shutdown_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan_generic cooling_fan]
pin: toolhead:PA8
max_power: 1.0
shutdown_speed:0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
tachometer_pin: toolhead:PA9
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[temperature_fan board_fan]
pin:PC4
max_power: 1.0
shutdown_speed: 1.0
sensor_type: temperature_host
control: pid
pid_deriv_time: 2.0
pid_Kp: 5
pid_Ki: 2
pid_Kd: 5
target_temp: 50
min_speed: 0.3
max_speed: 1.0
min_temp: 0
max_temp: 100

#######################################
# Filament Sensors
#######################################
[filament_switch_sensor filament]
pause_on_runout: True
runout_gcode:
    M118 Filament tangle detected
event_delay: 3.0
pause_delay: 0.5
switch_pin: PC3

[hall_filament_width_sensor]
adc1: toolhead:PA2
adc2: toolhead:PA3
cal_dia1: 1.5
cal_dia2: 2.0
raw_dia1: 14197
raw_dia2: 15058
default_nominal_filament_diameter: 1.75
max_difference: 0.2
measurement_delay: 50
enable: false
measurement_interval: 10
logging: False
min_diameter: 0.2
use_current_dia_while_delay: False
pause_on_runout: True
runout_gcode:
            RESET_FILAMENT_WIDTH_SENSOR
            M118 Filament run out
event_delay: 3.0
pause_delay: 0.5

#######################################
# Miscellaneous Outputs
#######################################
[output_pin caselight]
pin: PC7
pwm: false
shutdown_value: 1
value: 1

[output_pin beeper]
pin: PA2
pwm: false
shutdown_value: 0
value: 0

[output_pin ctlyd]
pin: PA14
pwm: false
shutdown_value: 0
value: 0

[idle_timeout]
timeout: 43200
gcode:
    PRINT_END

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 53.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 40.0
#*# damping_ratio_x: 0.102 # damping ratio for the X axis
#*# damping_ratio_y: 0.055 # damping ratio for the Y axis
#*#
#*# [bed_mesh kamp]
#*# version = 1
#*# points =
#*# 	0.065390, 0.048671, 0.005858, -0.009298, -0.015235
#*# 	0.076093, 0.061327, 0.010155, 0.013202, -0.005704
#*# 	0.066015, 0.043983, 0.014686, 0.004843, 0.005624
#*# 	0.054530, 0.052499, 0.023202, 0.003202, 0.002499
#*# x_count = 5
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.4
#*# min_x = 92.5
#*# max_x = 212.5
#*# min_y = 114.0
#*# max_y = 190.98000000000002
#*#
#*# [beacon model default]
#*# model_coef = 1.5068158379628411,
#*# 	  1.853857424984405,
#*# 	  0.7740297547409974,
#*# 	  0.32982121834850764,
#*# 	  0.4573245178704541,
#*# 	  0.6265663971072317,
#*# 	  -0.3310892885079167,
#*# 	  -0.7799482741417745,
#*# 	  0.19071957218403165,
#*# 	  0.3734146391733447
#*# model_domain = 1.8462965945596163e-07,1.9356663714227928e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 24.096895
#*# model_offset = 0.00000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.090635, -0.073994, -0.053447, 0.005803, 0.035456, -0.010381, -0.011702, 0.002045, -0.016420, -0.052238, -0.027147, -0.040159, -0.043714
#*# 	0.012984, 0.023845, 0.043351, 0.062830, 0.055840, 0.003472, -0.002610, 0.010213, 0.002403, 0.026427, 0.049192, 0.043112, 0.049118
#*# 	0.033253, 0.047532, 0.063528, 0.083175, 0.072310, 0.023334, 0.014753, 0.022119, 0.012811, 0.034790, 0.054808, 0.040627, 0.062563
#*# 	0.038358, 0.058101, 0.083452, 0.097706, 0.083806, 0.028811, 0.017092, 0.024612, 0.017150, 0.034639, 0.056621, 0.044365, 0.057581
#*# 	0.062067, 0.062804, 0.090493, 0.111019, 0.101293, 0.039944, 0.030420, 0.033160, 0.021200, 0.038734, 0.060660, 0.047338, 0.070206
#*# 	0.073444, 0.079277, 0.109030, 0.132575, 0.118729, 0.053876, 0.037844, 0.040155, 0.025084, 0.047896, 0.068871, 0.051481, 0.067715
#*# 	0.073226, 0.080291, 0.108839, 0.131916, 0.116341, 0.051990, 0.039009, 0.036622, 0.020569, 0.046284, 0.062448, 0.055573, 0.065937
#*# 	0.066017, 0.072975, 0.102555, 0.122236, 0.106885, 0.045143, 0.033884, 0.032821, 0.018869, 0.045315, 0.064855, 0.051353, 0.062149
#*# 	0.058501, 0.068512, 0.095015, 0.112839, 0.101048, 0.038278, 0.028193, 0.027911, 0.016284, 0.044860, 0.063350, 0.054584, 0.056164
#*# 	0.060708, 0.071009, 0.098749, 0.109067, 0.097182, 0.039574, 0.026133, 0.029007, 0.012810, 0.037362, 0.059281, 0.048881, 0.047037
#*# 	0.054302, 0.064074, 0.088791, 0.103438, 0.086996, 0.025791, 0.018225, 0.017608, 0.005071, 0.027206, 0.048110, 0.032518, 0.029468
#*# 	0.046659, 0.057803, 0.085525, 0.098088, 0.082311, 0.024336, 0.013377, 0.012935, -0.000850, 0.024760, 0.040221, 0.025366, 0.014902
#*# 	0.050880, 0.059269, 0.087335, 0.093499, 0.077689, 0.024285, 0.008741, 0.007498, -0.012460, 0.016334, 0.027670, 0.009045, -0.001967
#*# x_count = 13
#*# y_count = 13
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 285.0
#*# min_y = 60.0
#*# max_y = 305.0
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 71.249
#*# pid_ki = 0.690
#*# pid_kd = 1840.009
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 14.7696
#*# sensor_responsiveness = 0.0876112
#*# ambient_transfer = 0.110999
#*# fan_ambient_transfer =
